.archive ul {
	list-style:none;
	padding:0;
	margin:0;
}

.tag-cloud {
	max-width: 600px;

	li {
		display: inline-block;
		margin-right: 0.5em;
		margin-bottom: 0.5em;
	}

 	a {
		text-decoration: none;
		font-size: 0.8em;
		background: $compound-brand-color-east-bay;
		color: white;
		padding: 0.125em 0.5em;
		border-radius: 0.25em;
	}
}
